<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Practice-Swift-UI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F80F81C1E1B8A5800B6A3CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F80F8331E1B8A5800B6A3CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F80F83E1E1B8A5800B6A3CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
